<button
  type="button"
  class="btn btn-primary w-auto ms-auto"
  data-bs-toggle="modal"
  data-bs-target="#createBlogModal"
>
  Create new blog
</button>

<div
  class="modal fade"
  id="createBlogModal"
  tabindex="-1"
  aria-labelledby="createBlogModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        action="/blogs/create"
        method="POST"
        enctype="multipart/form-data"
        id="create-blog-form"
      >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createBlogModalLabel">
            Create a New Blog
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>

          <div class="mb-3">
            <label for="body" class="form-label">Blog Body</label>
            <textarea
              class="form-control"
              id="body"
              name="body"
              rows="6"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image" />
          </div>

          <div class="mb-4">
            <label for="tags" class="form-label">Tag</label>
            <select
              class="form-select"
              aria-label="Select upto five tags."
              name="tags"
              id="tags"
              multiple
            ></select>
            <div class="tag-list"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const getTags = async () => {
    try {
      // fetch tags!
      const res = await fetch("/tags");
      if (!res.ok) throw new Error("Failed to fetch tags.");

      return (await res.json())?.tags ?? [];
    } catch (err) {
      console.log("Error occurred while fetching the tags!", err);
      return [];
    }
  };

  const createBlogModal = document.getElementById("createBlogModal");

  createBlogModal.addEventListener("show.bs.modal", async () => {
    const tags = await getTags();
    const tagsSelect = createBlogModal.querySelector("#tags");

    tags.forEach((tag) => {
      const option = document.createElement("option");
      option.value = tag._id;
      option.textContent = tag.label;
      tagsSelect.appendChild(option);
    });

    const choices = new Choices(tagsSelect, {
      removeItemButton: true,
      placeholderValue: "Select up to five tags",
      searchPlaceholderValue: "Search tags",
      closeDropdownOnSelect: false,
      maxItemCount: 5,
      maxItemText: (maxItemCount) => {
        return `You can select up to a maximum of ${maxItemCount} tags only.`;
      },
    });

    createBlogModal.querySelector("#tags");
  });

  createBlogModal.addEventListener("hidden.bs.modal", () => {
    createBlogModal.querySelector("form").reset();
  });
</script>
