<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="content notfound-blog">
      <h1>The blog you are looking for does not exist!</h1>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
