<%- include("../partials/head.ejs") %> <%- include("../partials/nav.ejs") %>
<div class="auth">
  <form>
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button>Login</button>
  </form>
</div>

<script>
  const form = document.querySelector("form");
  const emailErrors = document.querySelector(".email.error");
  const passwordErrors = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // get the values!
    const email = form.email.value;
    const password = form.password.value;

    // reset errors
    emailErrors.textContent = "";
    passwordErrors.textContent = "";

    try {
      const result = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      const data = await result.json();
      if (data.errors) {
        emailErrors.textContent = data.errors.email;
        passwordErrors.textContent = data.errors.password;
      }

      if (data.user && data.nextUrl) {
        location.assign(data.nextUrl);
      }
    } catch (error) {
      console.log("Login View: Error occurred while login post method!", error);
    }
  });
</script>

<%- include("../partials/footer.ejs") %>
