<%- include("../partials/head.ejs") %>
<body>
  <%- include('../partials/nav.ejs') %>

  <main class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Create Your Profile</h3>
            <form
              action="/profile/create"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  required
                />
              </div>

              <div class="mb-4">
                <label for="image" class="form-label">Profile image</label>
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  name="image"
                />
              </div>

              <div class="mb-4">
                <label for="image" class="form-label"
                  >Write something about yourself</label
                >
                <textarea
                  class="form-control"
                  id="about"
                  name="about"
                  rows="3"
                  required
                  maxlength="200"
                ></textarea>
                <span
                  class="form-text text-end d-block small text-muted"
                  id="aboutCharCount"
                ></span>
              </div>

              <button type="submit" class="btn btn-primary w-100">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>
</body>
<script>
  const aboutCharCount = document.getElementById("aboutCharCount");

  document.addEventListener("DOMContentLoaded", () => {
    aboutCharCount.textContent = "";
  });

  document.getElementById("about").addEventListener("input", (e) => {
    aboutCharCount.textContent = `${e.target.value.length}/500`;
  });
</script>
