<nav>
  <div class="Learning Blog m-5">
    <a href="/">
      <h1>Tech Blog</h1>
    </a>
    <p>A tech knowledge hub for everybody to share</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
  <ul class="auth-links">
    <% if (user) { %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a class="signup" href="/signup">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
