<nav class="mb-2">
  <div class="d-flex flex-column flex-grow-1 w-100">
    <a href="/" class="text-decoration-none">
      <h1 class="mb-0 flex-grow-1">Tech Blog</h1>
    </a>
    <p class="text-muted">A tech knowledge hub for<br />everyone to share</p>
  </div>
  <% if (user) { %>
  <div class="container d-flex flex-column">
    <div class="row justify-content-end">
      <div class="dropdown w-auto">
        <div
          class="shadow-lg dropdown-toggle p-3 rounded-pill"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Welcome, <%= user.email %>
        </div>
        <ul class="dropdown-menu w-full">
          <li><a href="/profile">Profile</a></li>
          <li>
            <a class="btn btn-danger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-auto">
      <ul class="d-flex justify-content-end">
        <li><a href="/blogs">All Blogs</a></li>
      </ul>
    </div>
  </div>

  <% } else { %>
  <ul class="auth-links">
    <% if (typeof path !== 'undefined' && path === "/login") {%>
    <li><a class="btn btn-outline-secondary" href="/signup">Sign Up</a></li>
    <% } else { %>
    <li><a class="btn btn-outline-primary" href="/login">Login</a></li>
    <% } %>
  </ul>
  <% } %>
</nav>
