<nav>
  <div class="Learning Blog">
    <a href="/">
      <h1>Tech Blog</h1>
    </a>
    <p>A tech knowledge hub for everybody to share</p>
  </div>
  <% if (user) { %>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>

  <% } %>
  <ul class="auth-links">
    <% if (user) { %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %> <% if (typeof path !== 'undefined' && path === "/login") {%>
    <li><a class="btn btn-outline-secondary" href="/signup">Sign Up</a></li>
    <% } else { %>
    <li><a class="btn btn-outline-primary" href="/login">Login</a></li>
    <% } %> <% } %>
  </ul>
</nav>
