<%- include("../partials/head.ejs") %>
<body>
  <%- include('../partials/nav.ejs') %>

  <div class="dashboard content">
    <h2>Admin Dashboard!</h2>

    <p>Pending Blogs</p>
    <p>Approved Blogs</p>
    <p>Rejected Blogs</p>
    <p>Grant Admin Access</p>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>
