<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th class="text-nowrap" style="width: 300px">Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% blogs.forEach(blog => { %>
    <tr>
      <td class="text-truncate" style="max-width: 300px"><%= blog.title %></td>
      <td><%= blog.profile.firstName %> <%= blog.profile.lastName %></td>
      <td>
        <%= new Date(blog.createdAt).toLocaleString('en-US', { year: 'numeric',
        month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit',
        hour12: true }) %>
      </td>
      <td>
        <!-- action buttons -->
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
